# Lazarus / Free Pascal

*.o
*.ppu
*.compiled
*.rst
*.or


# Lazarus IDE

*.lps


# Backup files

*.bak
backup/
**/backup/


# Build output

lib/
bin/


# Temporary folders

temp/


# Generated output

output/


# OS files

.DS_Store
Thumbs.db


# Editor files

*.swp
*.swo
*~

